#alert-message {
    background-color: #F0F6FE;
    width: 450px;
    max-width: 450px;
    padding: 16px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-message p{
    padding-left: 6px;
    font-weight: 600;
}

.error{
    background-color: #FCF2F2 !important;
    color: #8B2822;
    font-size: 16px;
}